*,
html {
  scroll-behavior: smooth !important;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Quicksand", sans-serif;
  background-image: url(https://i.imgur.com/bvwHcLq.png);
  animation: backgroundChange 0.8s ease-in-out;
  overflow: hidden;
}

@keyframes backgroundChange {
  from {
    background-image: none;
    background-color: black;
  }

  to {
    background-color: black;
    background-image: url(https://i.imgur.com/bvwHcLq.png);
  }
}

::-webkit-scrollbar {
  display: none;
}

#PrincipalPage {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-direction: column;
  z-index: -3;
}

#PrincipalPageVideo {
  object-fit: cover;
  position: absolute;
  opacity: 0%;
  animation-name: opacitychange;
  animation-duration: 3s;
  height: 100%;
  width: 100%;
  animation-name: opacitychange;
  animation-duration: 3s;
  z-index: -3;
}

@keyframes opacitychange {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}

#PrincipalPageVideoNight {
  object-fit: cover;
  position: absolute;
  opacity: 100%;
  animation-name: opacitychange;
  animation-duration: 3s;
  height: 100%;
  width: 100%;
  opacity: 50%;
  z-index: -2;
  animation-name: opacitychange2;
  animation-duration: 3s;
}

@keyframes opacitychange2 {
  from {
    opacity: 0%;
  }

  to {
    opacity: 50%;
  }
}

#barriersPrincipalPage {
  width: 100%;
  position: absolute;
  bottom: 0;
  animation-name: barrierspopup;
  animation-duration: 3s;
  z-index: -1;
  object-fit: cover;
  bottom: 0;
}

@keyframes barrierspopup {
  from {
    transform: translateY(400px);
  }

  to {
    transform: translateY(0);
  }
}

#lightsPrincipalPage {
  width: 100%;
  position: absolute;
  top: 0;
  animation-name: lightspopup;
  animation-duration: 0.9s;
  overflow: hidden;
}

@keyframes lightspopup {
  from {
    transform: translateY(-200px);
  }

  to {
    transform: translateY(0);
  }
}

#characterPrincipalPageContent {
  position: absolute;
  width: 45%;
  animation-name: slideUp;
  animation-duration: 1.5s;
  object-fit: cover;
  bottom: 0;
  z-index: 10;
  right: 20px;
  right: 1%;
  pointer-events: none;
}

#characterPrincipalPage {
  width: 100%;
  animation-name: breathing;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  position: absolute;
  bottom: 0;
  object-fit: cover;
}

@keyframes slideUp {
  0% {
    transform: translateY(900px);
    opacity: 50%;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

#panelPrincipalPageContent {
  position: absolute;
  width: 100%;
  animation-name: slideUp;
  animation-duration: 3s;
  z-index: 1;
  bottom: -5px;
  object-fit: cover;
}

#panelText {
  position: absolute;
  width: 90%;
  z-index: 3;
  object-fit: cover;
  left: 0.5%;
}

#panelPrincipalPage {
  width: 90%;
}

#panelProjects {
  position: absolute;
  width: 13%;
  bottom: 20%;
  left: 15%;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  z-index: 3;
  transform: rotate(-4deg);
  border-radius: 10px;
}

#panelProjectsImage {
  width: 100%;
}

#panelProjects:hover {
  transform: scale(1.1) rotate(-5deg);
}

#panelTravel {
  position: absolute;
  width: 13%;
  bottom: 22%;
  left: 35%;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  z-index: 3;
  transform: rotate(3deg);
  border-radius: 5px;
  animation-name: flying;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

@keyframes flying {
  0% {
    transform: rotate(4deg);
  }

  50% {
    transform: rotate(3deg) scale(2);
  }

  100% {
    transform: rotate(4deg);
  }
}

#panelTravelImage {
  width: 100%;
}

#panelTravel:hover {
  transform: scale(1.1) rotate(4deg);
}

.panelButton {
  width: 80%;
  background-color: #7e8347;
  border: 0px solid;
  border-radius: 10px;
  height: 20%;
  position: absolute;
  bottom: 7%;
  left: 10%;
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

#credits {
  position: absolute;
  color: white;
  left: 5px;
  bottom: -15px;
  z-index: 20;
}

#PrincipalPage2 {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  flex-direction: column;
  z-index: -3;
}

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  top: 0;
  height: 45px;
  z-index: 15;
  width: 600px;
  max-width: 600px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(https://i.imgur.com/4mhABUN.png);
  border-left: 7px solid #422219;
  border-right: 7px solid #422219;
  border-bottom: 7px solid #422219;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  animation: navEntry 0.9s ease-in-out;
  transition: popup, 0.3s ease-in-out;
}

nav:hover {
  height: 80px;
}

@keyframes navEntry {
  from {
    transform: translateX(-50%) translateY(-100px);
  }

  to {
    transform: translateX(-50%) translateY(0);
  }
}

#navLinks {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

.listLink {
  font-size: 20px;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: #422219;
  transition: a, ease-int-out, 0.3s;
}

.link:hover {
  color: #5e2e21;
  font-size: 22px;
}

#presentationBox {
  width: 60%;
  height: auto;
  background-color: white;
  z-index: 10;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(https://i.imgur.com/bvwHcLq.png);
  border: 7px solid #422219;
  border-radius: 20px;
  display: flex;
  padding: 15px;
  align-items: center;
  flex-direction: row;
  animation: popupPresentation 0.8s ease-in-out;
}

@keyframes popupPresentation {
  from {
    opacity: 0%;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
  }

  to {
    opacity: 100%;
    left: 50%;
    transform: translateX(-50%) scale(1);
  }
}

#meIcon {
  width: 190px;
  height: 190px;
  background-color: #a36f51;
  border: 5px solid #422219;
  border-radius: 10px;
  background-image: url(https://i.imgur.com/rFzD50K.png);
  background-size: cover;
  position: absolute;
  top: 20px;
  left: 20px;
}

#presentationText {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 220px;
  box-sizing: border-box;
  height: 100%;
}

#presentationTitle {
  height: 0px;
  padding-bottom: 30px;
  margin: 0px;
}

.presentationP {
  font-size: 20px;
}

#contentBox {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 80%;
  border-top: 7px solid #422219;
  background-image: url(https://i.imgur.com/bvwHcLq.png);
  box-sizing: border-box;
  padding: 10px;
  animation: PopUpOverlay 0.8s ease-in-out;
  z-index: -2;
}

#flowerPots {
  position: absolute;
  width: 100%;
  bottom: 18%;
  z-index: -3;
  animation: PopUpOverlay 0.8s ease-in-out;
}

@keyframes PopUpOverlay {
  from {
    opacity: 0%;
    transform: translateY(100px);
  }

  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

#drawingsContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  gap: 20px;
  margin-top: 0px;
}

.card {
  width: 460px;
  height: 255px;
  background-color: #f4dcba;
  border: 3px solid #421f14;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px rgba(215, 79, 0, 0.5);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}

.cardImage {
  width: 100%;
  object-fit: cover;
}

.cardTitle {
  position: absolute;
  font-size: 15px;
  padding-left: 5px;
}

.cardTitle2 {
  color: rgb(255, 234, 206);
  position: absolute;
  font-size: 15px;
  padding-left: 5px;
}

.card:hover {
  transform: scale(1.05);
}

.cardImageHoverOn {
  width: 100%;
  object-fit: cover;
  display: none;
}

.card:hover .cardImageHoverOn {
  display: block;
}

.invisibleLink {
  text-decoration: none;
  color: #421f14;
  font-weight: bold;
}

.cutLine {
  display: flex;
  border-bottom: 3px solid #421f14;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

#videoPlayer {
  margin-left: 10px;
  margin-right: 10px;
  width: 980px;
  height: 520px;
  background-color: #f4dcba;
  border: 3px solid #421f14;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px rgba(215, 79, 0, 0.5);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

#videoBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  background-color: #f4dcba;
  border-top: 3px solid #421f14;
  border-bottom: 3px solid #421f14;
}

#redirectBox {
  display: flex;
  width: 200px;
  background-color: #f4dcba;
  border: 3px solid #421f14;
  border-radius: 5px;
  position: fixed;
  right: 0px;
  z-index: 2;
  padding: 10px;
  transition-property: all;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  transform: translate(180px, -150px);
  box-sizing: border-box;
}

#redirectBox:hover {
  transform: translate(20px, -150px);
}

#redirectBox:hover #redirectList {
  transform: translate(0px, 0px);
}

#redirectList {
  list-style: none;
  transition-property: all;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  transform: translate(50px, 0px);
  display: flex;
  flex-direction: column;
}

.redirectLink {
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  color: #421f14;
  font-size: 20px;
}

.redirectLink:hover {
  color: #bb3b00;
  font-size: 22px;
}

modal .inputDrawings[type="checkbox"] {
  display: none;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 5px;
  background-color: rgba(17, 17, 17, 0.9);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 30vw;
  min-height: 30vh;
  max-width: 70vw;
  max-height: 70vh;
}

.modal-content .cardImage {
  border: 10px solid #421f14;
  border-radius: 20px;
}

.modal input[type="checkbox"]:checked + .modal-container {
  display: flex;
  z-index: 99;
  animation: reveal-modal 0.2s;
}

@keyframes reveal-modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* text still "jump" when the modal opens, idk for now*/
body:has(.modal input[type="checkbox"]:checked) {
  overflow: clip;
}

input {
  display: none;
}

#drawingsBox {
  position: absolute;
  top: 85%;
  height: 100%;
  animation: PopUpOverlay 0.8s ease-in-out;
}

#blankSpace {
  height: 300px;
}

#goUpButton {
  border: 5px solid #421f14;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  max-width: 50px;
  max-height: 50px;
  position: fixed;
  z-index: 14;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.imgur.com/p6398dH.png);
  background-size: cover;
  animation: popUpArrow 1.5s ease-in-out;
}

@keyframes popUpArrow {
  from {
    transform: translateY(100px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}

#secondNav {
  position: absolute;
  z-index: 10;
  height: 450px;
  width: 800px;
  background-image: url(https://i.imgur.com/bvwHcLq.png);
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
  border: 7px solid #421f14;
  border-radius: 20px;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  animation: popupPresentation 0.8s ease-in-out;
}

.pageButton {
  width: 350px;
}

.sketches {
  transition: transform 0.3s ease-in-out;
}

.sketches:hover {
  transform: scale(1.05) rotate(1deg);
}

.drawings {
  transition: transform 0.3s ease-in-out;
}

.drawings:hover {
  transform: scale(1.05) rotate(-1deg);
}

#row {
  display: flex;
  flex-direction: row;
}

#questionTitle {
  color: #421f14;
}
